.place-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
}

.place-card {
    width: 350px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.place-card>.header-img>img {
    max-width: 100%;
    border-radius: 5px;
}

.meta-info {
    color: #666;
    font-size: 12px;
    margin: 10px 0px;
}

.place-title {
    font-size: 20px;
    margin: 0
}

.meta-price {
    color: #666;
    font-size: 14px;
    margin: 10px 0px;
}

.meta-rating {
    color: #666;
    font-size: 12px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.meta-rating>.tiny {
    font-size: 12px;
    margin-right: 0;
}

.meta-rating-body {
    margin-left: 10px;
}

textarea:disabled {
    background: #222;
    color: orange;
    padding: 20px;
    border-radius: 5px;
    height: auto;
}